body{

    background-color: #f8f2ce;
}
.titulo {
    text-align: center;
    color: #626e1e;
    border: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p{
    text-align: center;
    color: #4c4d32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
a{
    text-align: center;
    color: #4c4d32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;

}
a:hover {
   color: #d8d989;
}
.fundo{
    background-color: white;
}
h2{
    text-align: center;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #d8d989;
    border: 10px;
    border-style: solid;
    border-color: #d8d989;
    height: 10px;
    margin: 5%;
    padding: 2%;
}